<h1>Photo Details</h1>

<dl>
  <dt>Image</dt>
  <dd>
    <img src="<%= @the_photo.image %>"
  </dd>

  <dt>Caption</dt>
  <dd>
    <%= @the_photo.caption %>
  </dd>

  <dt>Owner</dt>
  <dd>
    <%= @the_photo.owner.username %>
  </dd>

  <dt>Posted</dt>
  <dd>
    <%= time_ago_in_words(@the_photo.created_at) %> ago
  </dd>

  <dt>Likes count</dt>
  <dd>
    <%= @the_photo.likes_count %>
  </dd>

  <dt>Comments count</dt>
  <dd>
    <%= @the_photo.comments_count %>
  </dd>

  <dt>Fans</dt>
  <dd>
    <% total_fans = @the_photo.fans.count %>
    <% counter = 1 %>
    <% @the_photo.fans.each do |a_fan| %>
      <% fan = User.where({ :id => a_fan.fan_id }).first %>
      <% if counter < total_fans %>
        <%= fan.username %>,
      <% else %>
        and <%= fan.username %>
      <% end %>
      <% counter = counter + 1 %>
    <% end %>
  </dd>
  
  <dt>Add a fan</dt>
  <dd>
      <form action="/insert_like" method="post">
        <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
        <button>Like</button>
      </form>
  </dd>


</dl>